.env
target/
dbt_packages/
logs/
.env
.env.*
.duckdb
env-local/
.env
.env.*
*.env
**/env-local/
**/env-preprod/
**/env-prod/
**/env-*/
# =========================
# PYTHON
# =========================

__pycache__/
*.py[cod]
*.so

# Virtual env
.venv/
venv/

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# Mypy
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# MacOS
.DS_Store

# VSCode
.vscode/

# Logs
*.log

# DuckDB
*.duckdb
*.wal

# Env
.env

mcp-server.json

infrastructure/kubernetes/overlays/local/charts/charts/
infrastructure/kubernetes/overlays/local/charts/kube-prometheus-stack-65.1.1/
infrastructure/kubernetes/overlays/local/charts/
