# Environment
.env
.env.*
*.env
**/env-local/
**/env-preprod/
**/env-prod/
**/env-*/

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Logs
*.log

# DuckDB
*.duckdb
*.wal

# dbt
target/
dbt_packages/
logs/

# Node
node_modules/
.next/
out/

# IDE
.vscode/
.idea/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# OS
.DS_Store

# Prometheus
prometheus/data/
prometheus/*.log

# Grafana
grafana/data/
grafana/logs/
grafana/plugins/